<form [formGroup]="userForm" novalidate (ngSubmit)="save(userForm.value)">

  <div class="form-Group">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name"  placeholder="">
    <small *ngIf="userForm.controls.name.touched && !userForm.controls.name.valid" class="text-danger">
      Name is required and > 4 Characters
      </small>

  </div>
  <div class="form-Group"><label for="email">Email</label>
    <input type="text" id="email" formControlName="email">
   <small *ngIf="userForm.controls.email.touched &&!userForm.controls.email.valid" class="text-danger">
      Email Address is required
      </small>
  </div>

  <div class="form-Group">
    <button type="submit" [disabled]="!userForm.valid">Save</button>
  </div>

  <div class="form-Group">
    <div>
      {{userForm.value | json}}
    </div>
  </div>

</form>